#dialogue-container {
    position: fixed;
    /*top: 0vh;*/
}

#dialogue-box {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/maze-heidi.appspot.com/o/images%2Fbedroom%2Fdialogue-box.png?alt=media&token=9173340d-9f39-41cd-8d0e-1d66c5afec54");
    position: fixed;
}

#next-dialogue-button {
    background-image: url(https://firebasestorage.googleapis.com/v0/b/maze-heidi.appspot.com/o/images%2Fbedroom%2Fnext-dialogue-button.png?alt=media&token=f4a8b60a-3ca8-4d58-910b-27e870056e9b);
    position: fixed;
}

@media (orientation: portrait) {
    #dialogue-icon {
        width: 10vw;
        height: 10vw;
        margin-right: 60vw;
        margin-top: 49vw;
    }

    #dialogue-box {
        width: 80vw;
        height: 16vw;
        margin-top: 75vw;
    }

    #dialogue-box-text {
        margin: 3vw 6vw;
    }

    #next-dialogue-button {
        width: 2vw;
        height: 2vw;
        margin-top: 8vw;
        margin-left: 68vw;
    }
}

/*
 *
 * Responsive - Landscape
 *
 */
@media (orientation: landscape) {
    #dialogue-icon {
        width: 10vh;
        height: 10vh;
        margin-right: 60vh;
        margin-top: 49vh;
    }

    #dialogue-box {
        width: 80vh;
        height: 16vh;
        margin-top: 75vh;
    }

    #dialogue-box-text {
        margin: 3vh 6vh;
    }

    #next-dialogue-button {
        width: 2vh;
        height: 2vh;
        margin-top: 8vh;
        margin-left: 68vh;
    }
}